<div class="clearfix">
  <h1 class="inline">Users List</h1>
  <%= link_to fa_icon("plus 3x"), new_user_path(), :class => "btn btn-primary inline pull-right" %>
</div>
<br>
<p class="lead">
  Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.
</p>
<table class='table table-striped'>
  <tr>
    <th class="table-digits th-5">#</th>
    <th class="th-5"></th>
    <th>Name</th>
    <th class="th-20">E-mail</th>
    <th class="th-20">Contacts</th>
    <th class="th-5"></th>
  </tr>
  <tbody>
<% @users.each_with_index do |user,i| %>
  <tr>
    <td class="table-digits"><%= i+1 %></td>
    <td><%= link_to fa_icon("edit 2x"), edit_user_path(user) %></td>
    <td class="table-texts no-wrap"><%= user.fullname %></td>
    <td class="table-texts"><%= user.email.join(" ") %></td>
    <td class="table-texts"><%= user.contacts %></td>
    <td><%= link_to fa_icon("remove 2x"), user_path(user), method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>